.venv/
venv/
env/

pycache/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/

.ipynb_checkpoints
.ipynb_checkpoints/

!data/model_results.json

!data/small_processed_data.csv
models/

.DS_Store

/dist/
/build/
*.egg-info/